In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
dataset = pd.read_csv(r'C:\Users\BASHA\Desktop\machine learning\Melbourne_housing_FULL.csv')
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [31]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [32]:
dataset.shape

(34857, 21)

In [33]:
cols_to_use = ['Suburb','Rooms','Type','Method','SellerG','Distance','Bathroom','Car','Bedroom2','Landsize','BuildingArea','CouncilArea','Regionname','Propertycount']

dataset = dataset[cols_to_use]
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Distance,Bathroom,Car,Bedroom2,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,SS,Jellis,2.5,1.0,1.0,2.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,S,Biggin,2.5,1.0,1.0,2.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,S,Biggin,2.5,1.0,0.0,2.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,VB,Rounds,2.5,2.0,1.0,3.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,SP,Biggin,2.5,2.0,0.0,3.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0

In [34]:
dataset.shape

(34857, 14)

In [35]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Distance             1
Bathroom          8226
Car               8728
Bedroom2          8217
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [36]:
cols_to_fill_zero = ['Propertycount','Distance','Bedroom2','Bathroom','Car']
dataset[cols_to_fill_zero] = dataset[cols_to_fill_zero].fillna(0)
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Distance             0
Bathroom             0
Car                  0
Bedroom2             0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [37]:
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean())
dataset['BuildingArea'] = dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Distance         0
Bathroom         0
Car              0
Bedroom2         0
Landsize         0
BuildingArea     0
CouncilArea      3
Regionname       3
Propertycount    0
dtype: int64

In [38]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Distance         0
Bathroom         0
Car              0
Bedroom2         0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [39]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset_int = dataset.astype(int)
dataset_int.head()

,Rooms,Distance,Bathroom,Car,Bedroom2,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,2,1,1,2,126,160,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
1,2,2,1,1,2,202,160,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2,1,0,2,156,79,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
3,3,2,2,1,3,0,160,4019,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2,2,0,3,134,150,4019,0,0,...,0,1,0,0,1,0,0,0,0,0

In [40]:
X = dataset
y = dataset.Price.dropna(inplace=True)

AttributeError: 'DataFrame' object has no attribute 'Price'